<div class="wrapper_wide">
	<header id="main_header" class="cf">
		<%= link_to 'PodcastApp', root_path, id: "logo" %>
		<nav>
			<ul>
			<% if !podcast_signed_in? %>
				<li><%= link_to "Create a Podcast" %></li>
				<li><%= link_to "Explore", podcasts_path %></li>
				<li><%= link_to "Sign in", new_podcast_session_path %></li>
			<% else %>
				<li><%= link_to "Create a Podcast" %></li>
				<li><%= link_to "Explore", podcasts_path %></li>
				<li><%= link_to "Sign out", destroy_podcast_session_path, method: :delete %></li>
			<% end %>
			</ul>
		</nav>
	</header>
</div>